# Firebase configuration for HireBridge (DO NOT COMMIT REAL VALUES HERE)
# Provide your own values in local/dev environments.

VITE_FIREBASE_API_KEY="AIzaSyAPwypD8lN4NeaTobuBXazTqPktdB5J-9c"
VITE_FIREBASE_AUTH_DOMAIN="hirebridge-5adc6.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="hirebridge-5adc6"
VITE_FIREBASE_STORAGE_BUCKET="hirebridge-5adc6.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1085989680060"
VITE_FIREBASE_APP_ID="1:1085989680060:web:3ede0ac7dde6f8ac7c31b9"
VITE_FIREBASE_MEASUREMENT_ID="G-5W923ENXZJ"


#   apiKey: "AIzaSyAPwypD8lN4NeaTobuBXazTqPktdB5J-9c",
#   authDomain: "hirebridge-5adc6.firebaseapp.com",
#   projectId: "hirebridge-5adc6",
#   storageBucket: "hirebridge-5adc6.firebasestorage.app",
#   messagingSenderId: "1085989680060",
#   appId: "1:1085989680060:web:3ede0ac7dde6f8ac7c31b9",
#   measurementId: "G-HRS5LBBFG1"